{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | AgroCodna</title>

    <link rel="stylesheet" href="{% static 'AgroCodna/style/auth.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

<div class="auth-page">

    <div class="auth-card">

        <div class="logo">
            <span class="leaf">🌿</span>
            <h1>AgroCodna</h1>
        </div>

        <h2>Create Account</h2>
        <p>Join our agricultural community.</p>

        <form method="POST" action="{% url 'signup' %}">
            
            {% csrf_token %}
            <div class="input-group">
                <label>Full Name</label>
                <input type="text" placeholder="John Doe" name="username" required>
            </div>

            <div class="input-group">
                <label>Email</label>
                <input type="email" placeholder="Enter email" name="email" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" placeholder="Password" name="password" required>
            </div>

            <div class="input-group">
                <label>Confirm Password</label>
                <input type="password" placeholder="Confirm Password" name="confirm_password" required>
            </div>

            <button class="btn-login">
                Create Account
            </button>

        </form>

        <div class="divider">
            <span>OR</span>
        </div>

        <button class="google-btn">
            Continue with Google
        </button>

        <p class="switch">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>

    </div>

</div>

</body>
</html>